<div class="row">
    <div class="col-xs-12">
      
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
{% for item in site.menus.header %}
{% if page.section == item.section %}
  <li class="nav-item-{{ loop.index }}">
    <a href="{{ item.url }}" title="{{ item.alt }}">{{ item.content }}</a>
    {% if item.children %}
      <ul class="sub-menu">
      {% for item in item.children %}
        <li class="nav-item-{{ loop.index }}">
          <a href="{{ item.url }}" title="{{ item.alt }}">{{ item.content }}</a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endif %}
{% endfor %}
</ul>
</div>
    </div>
  </div>